.wrap{
    display: flex;
    justify-content: center;
}

.mainBlock{
    width: 60%;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    h2{
        width: 100%;
    }
}